/to-do/.vs/to-do/FileContentIndex/**
/to-do/to-do.Server/bin/Debug/net8.0/**
/to-do/to-do.Server/obj/Debug/net8.0/**
/to-do/.vs/to-do/v17/**
/to-do/.vs/ProjectEvaluation/**
/to-do/to-do.client/obj/Debug/**
/to-do/.vs/to-do/DesignTimeBuild/**
to-do/to-do.Server/obj/**
to-do/.vs/**
to-do/to-do.Server/bin/**
to-do/to-do.client/obj/**
to-do/to-do.client/node_modules/**
/to-do/to-do.client/.vscode/**
/to-do/.vs/to-do/
/to-do/to-do.sln.DotSettings.user
/to-do/.vs/to-do/**
/.vs/asp-net-angular/v17/.wsuo
/.vs/asp-net-angular/FileContentIndex/130c8e3b-8e8a-4e85-a39d-67d26f1c9b8f.vsidx
/.vs/slnx.sqlite
/.vs/**
/to-do/.vs/**
/to-do/.vs/to-do/DesignTimeBuild/.dtbcache.v2
