<header> <h1 id="tableLabel">ToDos App</h1> </header>

<body>

  <p *ngIf="!todoItems$"><em>Loading... Please
  refresh once the ASP.NET backend has started. See
  <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a>
  for more details.</em>
  </p>



<table *ngIf="todoItems$">
    <hr class="dash-line" />
    <tbody>
      <tr *ngFor="let todoItem of todoItems$ | async">
        <td>
          {{ todoItem.item }}
        </td>
      </tr>
    </tbody>
    <hr class="dash-line" />
  </table>
</body>
