header {
  background-color: #F0F0F0;
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
}

:host {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;

}

body {
  background-color: #14E9F5;
}

h1 {
  text-align: center;
  font-size: 44px;
}

tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: 0 auto;
}

hr.dash-line {
  border: 10px dashed #F49731;
  border-radius: 5px;
}


